In [2]:
import pandas as pd
import matplotlib as mp
import seaborn as sns
import numpy as np

NASHVILLE CRIME DF

In [3]:
nashvillecrime_df=pd.read_csv("..\data\Metro_Nashville_Police_Department_Incidents_20240215.csv")

In [8]:
nashvillecrime_df.head()

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Mapped Location,Davidson County Border (GIS),Service Districts (GIS),Council District Outlines (GIS),Zip Codes (GIS)
0,20240103838_23,20240103838,D,DISPATCHED,O,OPEN,Open,10/18/2023 08:00:00 PM,02/14/2024 07:27:00 PM,LAFAYETTE ST,...,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.76 36.15),1.0,1.0,20.0,11.0
1,20240103838_12,20240103838,D,DISPATCHED,O,OPEN,Open,10/18/2023 08:00:00 PM,02/14/2024 07:27:00 PM,LAFAYETTE ST,...,INDIVIDUAL (18 AND OVER),M,B,Non-Hispanic,RESIDENT,POINT (-86.76 36.15),1.0,1.0,20.0,11.0
2,20240103838_11,20240103838,D,DISPATCHED,O,OPEN,Open,10/18/2023 08:00:00 PM,02/14/2024 07:27:00 PM,LAFAYETTE ST,...,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,NON RESIDENT,POINT (-86.76 36.15),1.0,1.0,20.0,11.0
3,20240103523_11,20240103523,T,NaN,O,OPEN,Open,06/01/2023 12:00:00 PM,02/14/2024 01:36:00 PM,GLENPARK DR,...,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,POINT (-86.71 36.11),1.0,1.0,6.0,22.0
4,20240102993_11,20240102993,D,DISPATCHED,O,OPEN,Open,04/06/2023 06:23:00 PM,02/14/2024 09:18:00 AM,CHARLES E DAVIS BLVD,...,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,POINT (-86.76 36.15),1.0,1.0,20.0,11.0

In [9]:
nashvillecrime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122764 entries, 0 to 122763
Data columns (total 35 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Primary Key                      122764 non-null  object
 1   Incident Number                  122764 non-null  int64
 2   Report Type                      122734 non-null  object
 3   Report Type Description          112165 non-null  object
 4   Incident Status Code             122764 non-null  object
 5   Incident Status Description      122753 non-null  object
 6   Investigation Status             122764 non-null  object
 7   Incident Occurred                122764 non-null  object
 8   Incident Reported                122764 non-null  object
 9   Incident Location                120353 non-null  object
 10  Latitude                         118035 non-null  float64
 11  Longitude                        118035 non-null  float64
 12  ZIP Code                         61926 non-null   float64
 13  RPA                              85 non-null      float64
 14  Zone                             85 non-null      float64
 15  Location Code                    122758 non-null  float64
 16  Location Description             122758 non-null  object
 17  Offense Number                   122747 non-null  float64
 18  Offense NIBRS                    122754 non-null  object
 19  Offense Description              122764 non-null  object
 20  Weapon Primary                   115032 non-null  object
 21  Weapon Description               114854 non-null  object
 22  Victim Number                    122764 non-null  int64
 23  Domestic Related                 122764 non-null  bool
 24  Victim Type                      122764 non-null  object
 25  Victim Description               122761 non-null  object
 26  Victim Gender                    95607 non-null   object
 27  Victim Race                      95606 non-null   object
 28  Victim Ethnicity                 95576 non-null   object
 29  Victim County Resident           95658 non-null   object
 30  Mapped Location                  118035 non-null  object
 31  Davidson County Border (GIS)     117919 non-null  float64
 32  Service Districts (GIS)          117919 non-null  float64
 33  Council District Outlines (GIS)  117919 non-null  float64
 34  Zip Codes (GIS)                  117922 non-null  float64
dtypes: bool(1), float64(11), int64(2), object(21)
memory usage: 32.0+ MB

In [28]:
nashvillecrime_df['Incident Occurred']

0         10/18/2023 08:00:00 PM
1         10/18/2023 08:00:00 PM
2         10/18/2023 08:00:00 PM
3         06/01/2023 12:00:00 PM
4         04/06/2023 06:23:00 PM
                   ...
122759    08/13/2023 11:50:00 PM
122760    05/15/2023 08:00:00 AM
122761    03/01/2023 08:00:00 PM
122762    03/17/2023 08:21:00 PM
122763    02/27/2023 12:15:00 PM
Name: Incident Occurred, Length: 122764, dtype: object

In [32]:
nashvillecrime_df['Date'] = pd.to_datetime(nashvillecrime_df['Incident Occurred']).dt.date
nashvillecrime_df['Time'] = pd.to_datetime(nashvillecrime_df['Incident Occurred']).dt.time

print(nashvillecrime_df)

C:\Users\antoi\AppData\Local\Temp\ipykernel_17352\1469182027.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nashvillecrime_df['Date'] = pd.to_datetime(nashvillecrime_df['Incident Occurred']).dt.date
C:\Users\antoi\AppData\Local\Temp\ipykernel_17352\1469182027.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nashvillecrime_df['Time'] = pd.to_datetime(nashvillecrime_df['Incident Occurred']).dt.time

           Primary Key  Incident Number Report Type Report Type Description  \
0       20240103838_23      20240103838           D              DISPATCHED
1       20240103838_12      20240103838           D              DISPATCHED
2       20240103838_11      20240103838           D              DISPATCHED
3       20240103523_11      20240103523           T                     NaN
4       20240102993_11      20240102993           D              DISPATCHED
...                ...              ...         ...                     ...
122759  20200478485_11      20200478485           D              DISPATCHED
122760  20200306667_11      20200306667           D              DISPATCHED
122761  20200130530_11      20200130530           T                     NaN
122762  20200020059_11      20200020059           O                     NaN
122763  20130140658_11      20130140658           T                     NaN

       Incident Status Code Incident Status Description Investigation Status  \
0                         O                        OPEN                 Open
1                         O                        OPEN                 Open
2                         O                        OPEN                 Open
3                         O                        OPEN                 Open
4                         O                        OPEN                 Open
...                     ...                         ...                  ...
122759                    O                        OPEN                 Open
122760                    U                   UNFOUNDED               Closed
122761                    O                        OPEN                 Open
122762                    U                   UNFOUNDED               Closed
122763                    O                        OPEN                 Open

             Incident Occurred     Incident Location  Latitude  ...  \
0       10/18/2023 08:00:00 PM          LAFAYETTE ST    36.150  ...
1       10/18/2023 08:00:00 PM          LAFAYETTE ST    36.150  ...
2       10/18/2023 08:00:00 PM          LAFAYETTE ST    36.150  ...
3       06/01/2023 12:00:00 PM           GLENPARK DR    36.110  ...
4       04/06/2023 06:23:00 PM  CHARLES E DAVIS BLVD    36.150  ...
...                        ...                   ...       ...  ...
122759  08/13/2023 11:50:00 PM      OLD HICKORY BLVD    36.100  ...
122760  05/15/2023 08:00:00 AM             5832 5832    36.022  ...
122761  03/01/2023 08:00:00 PM       SAWYER BROWN RD    36.100  ...
122762  03/17/2023 08:21:00 PM               440 440    36.169  ...
122763  02/27/2023 12:15:00 PM         CHARLOTTE PKE    36.140  ...

        Victim Race  Victim Ethnicity  Victim County Resident  \
0               NaN               NaN                     NaN
1                 B      Non-Hispanic                RESIDENT
2                 B      Non-Hispanic            NON RESIDENT
3                 B      Non-Hispanic                RESIDENT
4                 B      Non-Hispanic                RESIDENT
...             ...               ...                     ...
122759            W      Non-Hispanic                RESIDENT
122760          NaN               NaN                     NaN
122761          NaN               NaN                     NaN
122762            B      Non-Hispanic                RESIDENT
122763          NaN               NaN                     NaN

               Mapped Location  Davidson County Border (GIS)  \
0         POINT (-86.76 36.15)                           1.0
1         POINT (-86.76 36.15)                           1.0
2         POINT (-86.76 36.15)                           1.0
3         POINT (-86.71 36.11)                           1.0
4         POINT (-86.76 36.15)                           1.0
...                        ...                           ...
122759     POINT (-86.92 36.1)                           1.0
122760  POINT (-86.662 36.022)                           1.0
122761     POINT (-86.93 36.1)                           1.0
122762   POINT (-86.78 36.169)                           1.0
122763    POINT (-86.89 36.14)                           1.0

       Service Districts (GIS)  Council District Outlines (GIS)  \
0                          1.0                             20.0
1                          1.0                             20.0
2                          1.0                             20.0
3                          1.0                              6.0
4                          1.0                             20.0
...                        ...                              ...
122759                     1.0                             31.0
122760                     2.0                             30.0
122761                     2.0                             31.0
122762                     1.0                             20.0
122763                     1.0                             24.0

       Zip Codes (GIS)        Date      Time
0                 11.0  2023-10-18  20:00:00
1                 11.0  2023-10-18  20:00:00
2                 11.0  2023-10-18  20:00:00
3                 22.0  2023-06-01  12:00:00
4                 11.0  2023-04-06  18:23:00
...                ...         ...       ...
122759            46.0  2023-08-13  23:50:00
122760            15.0  2023-05-15  08:00:00
122761            32.0  2023-03-01  20:00:00
122762            29.0  2023-03-17  20:21:00
122763            46.0  2023-02-27  12:15:00

[122764 rows x 36 columns]

WEATHER DF

In [93]:
weather2023_df=pd.read_excel(r"C:\Users\antoi\nss-data-analytics\Projects\Nashville_Crime_and_Weather\data\Nashville_Weather_2023.xlsx", skiprows=None)

In [94]:
weather2023_df

           Day  HighÂ   LowÂ   Precip.
0   2023-01-01     70    45     0.00
1   2023-01-02     75    53     0.04
2   2023-01-03     71    58     1.53
3   2023-01-04     65    45     0.07
4   2023-01-05     56    36     0.00
..         ...    ...   ...      ...
359 2023-12-27     53    32     0.00
360 2023-12-28     44    31     0.00
361 2023-12-29     41    37     0.00
362 2023-12-30     41    31     0.00
363 2023-12-31     59    32     0.00

[364 rows x 4 columns]

In [107]:
weather2023_df.rename(columns={"Day": "Date"}, inplace=True)

In [108]:
print(weather2023_df)

          Date  HighÂ   LowÂ   Precip.
0   2023-01-01     70    45     0.00
1   2023-01-02     75    53     0.04
2   2023-01-03     71    58     1.53
3   2023-01-04     65    45     0.07
4   2023-01-05     56    36     0.00
..         ...    ...   ...      ...
359 2023-12-27     53    32     0.00
360 2023-12-28     44    31     0.00
361 2023-12-29     41    37     0.00
362 2023-12-30     41    31     0.00
363 2023-12-31     59    32     0.00

[364 rows x 4 columns]

MERGE

In [109]:
nashvillecrime_df['Date']

0         2023-10-18
1         2023-10-18
2         2023-10-18
3         2023-06-01
4         2023-04-06
             ...
122759    2023-08-13
122760    2023-05-15
122761    2023-03-01
122762    2023-03-17
122763    2023-02-27
Name: Date, Length: 122764, dtype: object

In [110]:
weather2023_df['Date']

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
359   2023-12-27
360   2023-12-28
361   2023-12-29
362   2023-12-30
363   2023-12-31
Name: Date, Length: 364, dtype: datetime64[ns]

In [114]:
nashvillecrime_df['Date'].info

<bound method Series.info of 0         2023-10-18
1         2023-10-18
2         2023-10-18
3         2023-06-01
4         2023-04-06
             ...
122759    2023-08-13
122760    2023-05-15
122761    2023-03-01
122762    2023-03-17
122763    2023-02-27
Name: Date, Length: 122764, dtype: object>

In [116]:
weather2023_df['Date'].info

<bound method Series.info of 0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
359   2023-12-27
360   2023-12-28
361   2023-12-29
362   2023-12-30
363   2023-12-31
Name: Date, Length: 364, dtype: datetime64[ns]>

In [111]:
nashvillecrime_weather=pd.merge( nashvillecrime_df, weather2023_df, on="Date", how="inner")
print(nashvillecrime_weather)

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat