In [33]:
import pandas as pd
import matplotlib as mb
import seaborn as sns
import numpy as np

I created this excel document from https://www.extremeweatherwatch.com/cities/nashville/year-2023 which received their data from NOAA.

In [47]:
weather2023_df=pd.read_excel(r"C:\Users\antoi\nss-data-analytics\Projects\Nashville_Crime_and_Weather\data\Nashville_Weather_2023.xlsx", skiprows=None)

In [48]:
print(weather2023_df)

           Day  High (°F)  Low (°F)  Precip.  Unnamed: 4  Unnamed: 5  \
0   2023-01-01         70        45     0.00         NaN         NaN
1   2023-01-02         75        53     0.04         NaN         NaN
2   2023-01-03         71        58     1.53         NaN         NaN
3   2023-01-04         65        45     0.07         NaN         NaN
4   2023-01-05         56        36     0.00         NaN         NaN
..         ...        ...       ...      ...         ...         ...
359 2023-12-27         53        32     0.00         NaN         NaN
360 2023-12-28         44        31     0.00         NaN         NaN
361 2023-12-29         41        37     0.00         NaN         NaN
362 2023-12-30         41        31     0.00         NaN         NaN
363 2023-12-31         59        32     0.00         NaN         NaN

     Unnamed: 6
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
359         NaN
360         NaN
361         NaN
362         NaN
363         NaN

[364 rows x 7 columns]

In [49]:
weather2023_df.head()

         Day  High (°F)  Low (°F)  Precip.  Unnamed: 4  Unnamed: 5  Unnamed: 6
0 2023-01-01         70        45     0.00         NaN         NaN         NaN
1 2023-01-02         75        53     0.04         NaN         NaN         NaN
2 2023-01-03         71        58     1.53         NaN         NaN         NaN
3 2023-01-04         65        45     0.07         NaN         NaN         NaN
4 2023-01-05         56        36     0.00         NaN         NaN         NaN

In [50]:
weather2023_df=weather2023_df.drop(columns=['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'])

In [51]:
print(weather2023_df)

           Day  High (°F)  Low (°F)  Precip.
0   2023-01-01         70        45     0.00
1   2023-01-02         75        53     0.04
2   2023-01-03         71        58     1.53
3   2023-01-04         65        45     0.07
4   2023-01-05         56        36     0.00
..         ...        ...       ...      ...
359 2023-12-27         53        32     0.00
360 2023-12-28         44        31     0.00
361 2023-12-29         41        37     0.00
362 2023-12-30         41        31     0.00
363 2023-12-31         59        32     0.00

[364 rows x 4 columns]